#background-site-todo {
  background: #ffa53f;
}

#banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

#navbar,
a.nav-link {
  font-weight: bold;
  color: black;
}

.container {
  display: flexbox;
  align-items: center;
}

#zap,
#mapa {
  width: 30px;
  height: 30px;
}

div.contato {
  text-align: center;
  margin-top: 100px;
}

#contato,
#mapa {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#contato:hover,
#mapa:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#whatsapp {
  width: 30px;
  height: 30px;
}

#whatsapp2 {
  margin: auto;
  display: block;
  width: 30px;
  height: 30px;
}

#delivery {
  align-items: center;
  display: flex;
}

#footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-weight: bold;
  color: black;
  position: fixed;
}

#copyright {
  width: 1em;
  height: 1em;
}

#alinhamento {
  margin: 10px 30px 10px 30px;
  text-align: center;
}

#alinhamento1 {
  text-align: center;
}

#alinhamento2 {
  text-align: center;
  margin: 20px 30px 10px 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

#alinhamento3 {
  text-align: center;
  margin: 20px 30px 10px 15px;
  font-weight: bold;
}

#alinhamento4 {
  text-align: start;
  margin: 10px 30px 10px 30px;
}

#alinhamento5 {
  text-align: justify;
  margin: 0px 30px 10px 30px;
}

#alinhamento6 {
  margin: 10px 30px 10px 30px;
}

#preco1 {
  text-align: center;
}

#preco2 {
  text-align: center;
  font-weight: bold;
}

#preco3 {
  text-align: justify;
}

.negrito {
  font-weight: bold;
}

#bebidas {
  text-align: center;
  flex-wrap: nowrap;
  margin: 10px 30px 10px 30px;
}

#refri {
  margin: 0 0 0 0;
}

#small {
  margin-top: 0%;
  margin-bottom: 1rem;
}

.container {
  display: flex;
}

.item {
  flex: 1;
  flex: 2;
}

.main {
  color: black;
  padding: 20px;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  margin: 5% 10% 10% 25%;
}

#button {
  font-size: 1.2em;
    background: rgb(146, 84, 8);
    border-radius: 10px;
    margin-bottom: 1em;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
}

#button:hover{
  background: white;
  color: black;
  font-weight: bolder;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}